body {
    margin:0;
    color: white;
}

.container {
    border: 5px solid #7c627c; 
    background-color: rgba(28, 19, 109, 0.993);
}

.screen {
    margin: 2rem 2rem 4rem ;

    border: 10px solid white;
    border-radius: 20px;
    
    background-color: lightgray;
    backface-visibility: ;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.top {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    width: 300px;
    padding: 1rem 0;
    margin: 0rem 1rem 5rem;

    background-color: purple;
    font-size: large;
    font-weight: bolder;
    color:red;
    border: 3px solid red;
    border-radius: 5px;
}

p {
    font-size: 20px;
}